.calculator {
    display: flex;
    flex-direction: column;
    gap: 30px;

    border: 2px solid black;
    background-repeat: no-repeat;
    

    &__title {
        margin-left: 30px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 30px;

    }

    &__input {
        font-size: 16px;
        font-weight: bold;
        outline: none; 
        border: none;
        border-bottom: 1px solid black
        
    }

    &__select {
        outline: none;
        font-size: 16px;
        font-weight: bold;
        width: 50px;
    }

    &__result {
        font-size: 21px;
        margin-left: 30px;


        span {
            font-weight: bold;
            
        }
    }

    &__btn {
        outline: none;

        width: fit-content;
        height: 70px;
        font-weight: bold;
        font-size: 17px;
        border: 1px solid black;
        border-radius: 20px;
        background-color: transparent;
        margin-left: 30px;
        margin-bottom: 30px;


        &:hover {
            background-color: rgb(218, 115, 64);
        }

        &:active {
            transform: scale(1.1);
        }
    }
}